<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <video id="their-video" width="400" autoplay playsinline></video>
        <video id="my-video" muted="true" width="200" autoplay playsinline></video>
        <p>Your Peer ID: <span id="my-id">{{peerId}}</span></p>
        
        <button @click="getCurrentPeers" class="button">一覧</button>

        <select v-model="calltoid">
          <option disabled value="">一覧ボタンでリストを更新してください</option>
          <option v-for="id in listIds" v-bind:value="id" :key="id">
            {{ id }}
          </option>
        </select>
<!--
        <input v-model="calltoid" placeholder="call id">
-->        
        <button @click="makeCall" class="button--green">Call</button>
        <br />

        マイク:
        <select v-model="selectedAudio" @change="onChange">
          <option disabled value="">Please select one</option>
          <option v-for="(audio, key, index) in audios" v-bind:key="index" :value="audio.value">
            {{ audio.text }}
          </option>
        </select>

        カメラ: 
        <select v-model="selectedVideo" @change="onChange">
          <option disabled value="">Please select one</option>
          <option v-for="(video, key, index) in videos" v-bind:key="index" :value="video.value">
            {{ video.text }}
          </option>
        </select>

    <br />
    </div>

    <script src="https://cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>
    <script src="https://jp.vuejs.org/js/vue.min.js"></script>
    <script src="app.js"></script>
</body>
</html>